In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score

In [2]:
# test.csv is the same dataset that was the test.csv in the kaggle submissions 
test = pd.read_csv("test.csv")

In [3]:
# This was the main dataset that was split into train/test on
wildfires = pd.read_csv("fp-historical-wildfire-data-2006-2021-modified-v2.csv")

In [4]:
# In the process of creating the solution.csv the size classses got scrambled, so we need to get the labels back from the 
# original dataset
relevant_xl_data = wildfires[['fire_number', 'fire_location_latitude', 'fire_location_longitude', 'size_class']]

merged_data = pd.merge(test, relevant_xl_data, on=['fire_number', 'fire_location_latitude', 'fire_location_longitude'], how='left')

In [6]:
merged_data

,fire_id,fire_year,fire_number,fire_name,fire_location_latitude,fire_location_longitude,fire_origin,general_cause_desc,industry_identifier_desc,responsible_group_desc,...,initial_action_by,ia_arrival_at_fire_date,ia_access,fire_fighting_start_date,fire_fighting_start_size,bucketing_on_fire,distance_from_water_source,first_bucket_drop_date,ex_fs_date,size_class
0,0,2008,LWF168,NaN,54.777350,-113.518083,Private Land,Resident,NaN,Resident,...,Land Owner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-09-17 15:00:00,A
1,1,2010,SWF337,NaN,55.641917,-115.967867,Private Land,Recreation,NaN,Hunters,...,FPD Staff,2010-11-06 20:05:00,NaN,2010-11-07 10:55:00,0.10,N,NaN,NaN,2010-12-02 14:30:00,B
2,2,2018,EWF071,NaN,53.245083,-116.484983,Provincial Land,Lightning,NaN,NaN,...,HAC,2018-06-22 16:39:00,Conventional R/W,2018-06-22 16:39:00,0.01,N,NaN,NaN,2018-06-22 18:40:00,A
3,3,2013,GWF027,NaN,54.512305,-118.963071,Provincial Land,Recreation,NaN,Campers,...,FPD Staff,2013-05-28 13:00:00,NaN,2013-05-28 13:00:00,0.01,N,NaN,NaN,2013-05-28 13:10:00,A
4,4,2012,EWF016,NaN,53.610003,-116.353007,Private Land,Resident,NaN,NaN,...,Land Owner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-05-09 14:40:00,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,4087,2015,EWF078,NaN,53.903033,-118.396917,Provincial Land,Lightning,NaN,NaN,...,HAC,2015-07-10 19:20:00,Conventional R/W,2015-07-10 19:28:00,0.01,Y,0.5,2015-07-10 19:28:00,2015-07-11 12:20:00,A
4088,4088,2006,EWF250,,53.080917,-116.399717,Provincial Land,Lightning,NaN,NaN,...,HAC1H,2006-08-19 13:28:00,Conventional R/W,2006-08-19 13:40:00,0.05,N,NaN,NaN,2006-08-19 16:40:00,A
4089,4089,2009,SWF220,NaN,55.460567,-116.733033,Private Land,Resident,NaN,Resident,...,Land Owner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10-05 15:00:00,A
4090,4090,2016,SWF113,NaN,56.199217,-115.715233,Provincial Land,Lightning,NaN,NaN,...,HAC,2016-06-23 14:53:00,Conventional R/W,2016-06-23 15:00:00,0.10,Y,0.1,2016-06-23 15:00:00,2016-06-23 16:00:00,A
4091,4091,2014,HWF197,NaN,58.385350,-119.749383,Provincial Land,Lightning,NaN,NaN,...,HAC,2014-08-02 13:14:00,Conventional R/W,2014-08-02 13:45:00,1.00,Y,2.0,2014-08-02 15:05:00,2014-08-05 14:45:00,B

In [7]:
def encode(size_class): 
    if size_class == "A": 
        size_class = 1
    elif size_class == "B": 
        size_class = 2
    elif size_class == "C":
        size_class = 3
    elif size_class == "D": 
        size_class = 4
    else: 
        size_class = 5
    return size_class

In [ ]:
# The solution csv was the submission that the team selected for the final score

In [33]:
solutions_y = merged_data["size_class"].apply(encode)

In [10]:
steven_tang_submission = pd.read_csv("Steven_tang_submission.csv")

In [11]:
steven_tang_submission_y = steven_tang_submission["size_class"]

In [12]:
Yong_W_Lee_submission = pd.read_csv("Yong_W_Lee_submission.csv")

In [13]:
Yong_W_Lee_submission_y = Yong_W_Lee_submission["size_class"]

In [14]:
Yukesh_Subedi_submission = pd.read_csv("Yukesh_Subedi_submission.csv")

In [15]:
Yukesh_Subedi_submission_y = Yukesh_Subedi_submission["size_class"]

In [16]:
Alexander_Bradley_submission = pd.read_csv("Alexander_Bradley_submission.csv")

In [17]:
Alexander_Bradley_submission_y = Alexander_Bradley_submission["size_class"]

In [18]:
aman7999_submission = pd.read_csv("aman7999_submission.csv")

In [19]:
aman7999_submission_y = aman7999_submission["size_class"]

In [21]:
Arden_Grant_submission = pd.read_csv("Arden_Grant_submission.csv")

In [22]:
Arden_Grant_submission_y = Arden_Grant_submission["size_class"]

In [23]:
Faique_Ahmad_submission = pd.read_csv("Faique_Ahmad_submission.csv")

In [24]:
Faique_Ahmad_submission_y = Faique_Ahmad_submission["Size Class"]

In [25]:
MAZE_GAME_RULEZZZ_submission = pd.read_csv("MAZE_GAME_RULEZZZ_submission.csv")

In [26]:
MAZE_GAME_RULEZZZ_submission_y = MAZE_GAME_RULEZZZ_submission["size_class"]

In [27]:
# Raymart_Datuin_submission = pd.read_csv("Raymart_Datuin_submission.csv") can't load in

In [28]:
smoke_busters_submission = pd.read_csv("smoke_busters_submission.csv")

In [29]:
smoke_busters_submission = smoke_busters_submission.astype(int)

In [30]:
smoke_busters_submission_y = smoke_busters_submission["size_class"]

In [35]:
steve_tang_score = f1_score(solutions_y, steven_tang_submission_y, average = "weighted")

In [36]:
Yong_W_Lee_score = f1_score(solutions_y, Yong_W_Lee_submission_y, average = "weighted")

In [37]:
Yukesh_Subedi_score = f1_score(solutions_y, Yukesh_Subedi_submission_y, average = "weighted")

In [38]:
Alexander_Bradley_score = f1_score(solutions_y, Alexander_Bradley_submission_y, average = "weighted")

In [39]:
aman7999_score = f1_score(solutions_y, aman7999_submission_y, average = "weighted")

In [40]:
Arden_Grant_score = f1_score(solutions_y, Arden_Grant_submission_y, average = "weighted")

In [41]:
Faique_Ahmad_score = f1_score(solutions_y, Faique_Ahmad_submission_y, average = "weighted")

In [42]:
MAZE_GAME_RULEZZZ_score = f1_score(solutions_y, MAZE_GAME_RULEZZZ_submission_y, average = "weighted")

In [43]:
smoke_busters_score = f1_score(solutions_y, smoke_busters_submission_y, average = "weighted")

In [44]:
scores = [steve_tang_score, Yong_W_Lee_score, Yukesh_Subedi_score, Alexander_Bradley_score, aman7999_score, Arden_Grant_score, Faique_Ahmad_score, MAZE_GAME_RULEZZZ_score, smoke_busters_score]

In [45]:
score_dict = {"Steven Tang": steve_tang_score, "Yong W. Lee": Yong_W_Lee_score, "Yukesh Subedi": Yukesh_Subedi_score, "Alexander Bradley":Alexander_Bradley_score, "aman7999":aman7999_score, "Arden / Grant":Arden_Grant_score, "Faique Ahmad":Faique_Ahmad_score, "MAZE GAME RULEZZZZ":MAZE_GAME_RULEZZZ_score, "Smoke Busters":smoke_busters_score}

In [46]:
scores = pd.DataFrame(score_dict.items(), columns = ["Team", "Score"])

In [47]:
scores = scores.sort_values(by=["Score"], ascending = False)

In [49]:
scores.reset_index(inplace = True, drop = True)

In [50]:
scores

                 Team     Score
0         Yong W. Lee  0.901528
1   Alexander Bradley  0.891133
2            aman7999  0.861419
3        Faique Ahmad  0.860154
4  MAZE GAME RULEZZZZ  0.857838
5       Yukesh Subedi  0.769928
6       Arden / Grant  0.724541
7         Steven Tang  0.657273
8       Smoke Busters  0.125038